<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>./var/log/stepCounter-sql.log</file>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%m%n</pattern>
    </encoder>
  </appender>

    <logger name="jp.co.future.uroborosql" level="${LOGLEVEL}" />

    <appender name="CoverageLog" class="ch.qos.logback.core.FileAppender">
        <file>./var/log/stepCounter-coverage.log</file>
        <append>true</append>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <logger name="jp.co.future.uroborosql.coverage" level="TRACE"
            additivity="false">
        <appender-ref ref="CoverageLog" />
    </logger>

    <!-- ログ出力に関する設定 -->
    <root>
        <!-- 出力するレベルを設定 -->
        <level value="DEBUG" />
        <!-- アペンダを設定 -->
        <appender-ref ref="FILE" />
    </root>
</configuration>